# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Power BI temporary/backup files
*.pbit
~$*

# OS files
.DS_Store
Thumbs.db